{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dashboard Professeur</title>
        <link rel="stylesheet" href="{% static 'css/MenuDashboardProf.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
    </head>
    <body>
{% if user.is_authenticated %}
        <!--wrapper start-->
        <div class="wrapper">
            <!--header menu start-->
            <div class="header">
                <div class="header-menu">
                    <div class="title">Mariadal <span>{{ user.first_name }}</span></div>
                    <div class="sidebar-btn">
                        <i class="fas fa-bars" style="margin: 20px"> </i>

                    </div>
                    <ul>
                        <li><a href="#"><i class="fas fa-search"></i></a></li>
                        <li><a href="#"><i class="fas fa-bell"></i></a></li>
                        <li><a href="{% url 'LogOut_view' %}"><i class="fas fa-power-off" aria-hidden="true"></i> </a></li>
                    </ul>
                </div>
            </div>
            <!--header menu end-->
            <!--sidebar start-->
            <div class="sidebar">
                <div class="sidebar-menu">
                    <center class="profile">
                        <img src="{% static 'images/MArieadal Logo.png' %}" alt="">
                        <p>Classe des dragons</p>
                    </center>
                    <li class="item">
                        <a href="profile" class="menu-btn">
                            <i class="fas fa-desktop"></i><span>Présence</span>
                        </a>
                    </li>
                    <li class="item" id="profile">
                        <a href="#profile" class="menu-btn">
                            <i class="fas fa-users"></i><span>Journal de classe <i class="fas fa-chevron-down drop-down"></i></span>
                        </a>
                        <div class="sub-menu">
                            <a href="#"><i class="fas fa-book"></i><span id="JDC">consulter</span></a>
                            <a href="#"><i class="fas fa-wrench"></i><span>modifier</span></a>
                        </div>
                    </li>
                    <li class="item" id="messages">
                        <a href="#messages" class="menu-btn">
                            <i class="fas fa-envelope"></i><span>Messages <i class="fas fa-chevron-down drop-down"></i></span>
                        </a>
                        <div class="sub-menu">
                            <a href="#"><i class="fas fa-envelope"></i><span>Nouveau</span></a>
                            <a href="#"><i class="fas fa-envelope-square"></i><span>Consulter</span></a>
                        </div>
                    </li>
                    <li class="item" id="absence">
                        <a href="#absence" class="menu-btn">
                            <i class="fas fa-bell"></i><span>Absence <i class="fas fa-chevron-down drop-down"></i></span>
                        </a>
                        <div class="sub-menu">
                            <a href="#"><i class="fas fa-envelope"></i><span>Consultation</span></a>
                            <a href="#"><i class="fas fa-exclamation-circle"></i><span>élèves absent</span></a>
                        </div>
                    </li>
                    <li class="item" id="event">
                        <a href="#event" class="menu-btn">
                            <i class="fas fa-camera"></i><span>Evènements <i class="fas fa-chevron-down drop-down"></i></span>
                        </a>
                        <div class="sub-menu">
                            <a href="#"><i class="fas fa-envelope"></i><span>Consulter</span></a>

                        </div>
                    </li>
                    {% comment %}<li class="item" id="settings">
                        <a href="#settings" class="menu-btn">
                            <i class="fas fa-cog"></i><span>Settings <i class="fas fa-chevron-down drop-down"></i></span>
                        </a>
                        <div class="sub-menu">
                            <a href="#"><i class="fas fa-lock"></i><span>Password</span></a>
                            <a href="#"><i class="fas fa-language"></i><span>Language</span></a>
                        </div>
                    </li>
                    {% endcomment %}
                </div>
            </div>
            <!--sidebar end-->
            <!--main container start-->
            <div class="main-container">
                <div class="card" id="ajaxload">
                    <h2>{{ user.groups.get }}</h2><br>
                    {% for std in students %}
                        <ul>
                            <li>{{ std }} <label><input type="checkbox"></label></li>
                        </ul>
                    {% endfor %}
                </div>

            </div>
            <!--main container end-->
        </div>
        <!--wrapper end-->
{% endif %}
        <script type="text/javascript">
        $(document).ready(function(){
            $(".sidebar-btn").click(function(){
                $(".wrapper").toggleClass("collapse");
            });
            $(".item").click(function(){
                $(".sub-menu").toggle();
            });
            $('#JDC').click(function () {
        $.ajax({
            url: "{% url 'JournalDeClasse' %}",
            success: function (result) {
                $('.main-container').html(result).css("background-color", "#4CCEE8");
                }
            });
        });
        });
        </script>

    </body>
</html>



